body,html
{height: 100%;
  background: #1a1e23;
}
.navbar
{background-color:rgba(21,31,33,0.1);
border-bottom: 1px solid blue;
}
.navbar .navbar-nav .nav-link
{color:black;
}
.navbar .navbar-nav .nav-link:hover
{color:#fff;
}
.navbar-toggler-icon
{color:orange;
}
#header
{background: url("/pictures/WhatsApp Image 2021-09-21 at 4.42.44 PM.jpeg") center center no-repeat;
background-size:cover;
height:100%;
color:blue;
display:flex;
align-items:center;
}
#header h1
{color:orange;
}
.container
{padding:50px;
}
#desc
{background-color:rgba(0,0,0,0.1);
padding:55px;
border-radius:30px;
color:pink;
}
h2
{color:brown;
}
#footer
{background-color:rgba(21,31,33,0.1);
border-top: 1px solid blue;
}
.list-inline-item
{
padiing:0px 10px;
height:30px;
width:30px;
}
#publications .col-md-4
{padding:0 10px 10px;
}
#certification .row
{padding:0 0 10px;
}
#certification .img_fluid
{height:400px;
width:500px;
}
#project .col-md-6
{border-radius:20px;
margin:20px 0;
}
#certification
{
}
.img-1
{height:30px;
width:30px;
}
#ab
{border: 2px solid blue;
}
#bc
{border: 2px solid orange;
}
#bc .img-fluid-2
{height:200px;
width:500px;
border-bottom: 2px solid orange;
}
#ab .img-fluid-2
{margin:70px 0 100px 0;
border-spacing:50px;
}
#about .img-fluid
{height:600px;
}
#border-dena
{border-right:3px solid blue;
}
#border-dena-left
{border-left:3px solid blue;
}
#project
{
}
#about
{background: #1a1e23;
  margin: 0;
}
.blockquote p
{color:white;
}
#experience
{
}
.card-img-top
{height:250px;
}
.button-center
{text-align="center"
}
